* {
  margin: 0%;
  padding: 0%;
  box-sizing: content-box;
  /* box-sizing: border-box; (bebas mau pake border atau content box, sesuai kebutuhan) */
}
.box {
  width: 200px;
  height: 200px;
  background-color: red;
  border: 12px solid black;
  padding: 20px;
}

.box2 {
    position: relative;
    background-color: blue;
}

.box3 {
    background-color: green;
}
